<div class="conteudo mx-5 my-5 shadow">

<p class="mx-5 my-5 py-3 font-weight-normal text-light ">Nós somos melhores amigos a mais de 14 anos. Temos uma parceria e sincronia que não seria possível com qualquer equipe.<br><br>
    Maiara é uma WebDesign com grande inteligência nos âmbitos de design, criação, coloração e propagandas. Veja meus trabalhos<br><br>
    Israel é um programador back-end com conhecimento focado em webDesenvolvimento, além de desenvolvedor de automação em ambiente de projetos. Veja meus trabalhos<br> <br>
    A melhor parte é: contratando o serviço de um, você terá um suporte básico do outro, seja contrato CLT ou informal. Isso não se aplica a casos em que seja exigido o sigilo de informações</p>

</div>